<html>
    <title>Process Planning</title>
    <meta name="author" content="Gonzalo Mendoza" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/alertify.min.css" />
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/themes/semantic.min.css" />

    <body>
        <div class="ui grid" style="margin:5px;">
            <div class="six wide column">
                <div class="ui grid" id="app">
                    <div class="sixteen wide column">
                        <select class="ui dropdown" name="strategy" id="algorithm_combo">
                            <option value="Choose" class="disabled" selected disabled>Choose strategy</option>
                            <option value="FIFO">First In First Out</option>
                        </select>
                    </div>
                    <div class="sixteen wide column">
                        <div>
                            <table class="ui celled table">
                                <thead>
                                    <tr>
                                        <th v-for="(column, index) in columns" :key="index"> {{column}}</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in items" :key="index">
                                        <td v-for="(column, indexColumn) in columns" :key="indexColumn">{{item[column]}}</td>
                                        <td><a href="#" v-on:click="deleteItem(index)" class="ui button inverted red">Delete</a></td>
                                    </tr>
                                    <tr class="ui form">
                                        <td><input type="number" v-model="item['Process']" placeholder="Process ID" /></td>
                                        <td><input type="number" v-model="item['Arrived at (seg)']" placeholder="Arrived" /></td>
                                        <td><input type="number" v-model="item['Work time']" placeholder="Interval" /></td>
                                        <td><button v-on:click="addItem()" class="ui inverted button green">Add</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="sixteen wide column">
                        <button v-on:click="chart()" class="ui inverted button green">Chart</button>
                    </div>
                </div>
            </div>
            <div class="ten wide column">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/alertify.min.js"></script>
        <script>

            var app = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue!',
                    item: {
                        'Process': '',
                        'Arrived at (seg)': '',
                        'Work time' : '',
                    },
                    items: [
                        {
                            'Process': '1',
                            'Arrived at (seg)': '0',
                            'Work time': '3',
                        },
                        {
                            'Process': '2',
                            'Arrived at (seg)': '1',
                            'Work time': '5',
                        }
                    ],
                    columns: ['Process', 'Arrived at (seg)', 'Work time'],
                    dataSets: [],
                    data: [],
                    offsetWaiting : 0,
                    offsetRunning: 0,
                },
                methods: {
                    deleteItem: function (i) {
                        this.items.splice(this.items.indexOf(i), 1);
                    },
                    addItem: function() {
                        if (!this.item['Process'] || !this.item['Arrived at (seg)'] || !this.item['Work time']) {
                            alertify.error('Please add some process info before.');
                            return;
                        }
                        if (this.item['Process'] < 0) {
                            alertify.error('Process ID not valid');
                            return;
                        }
                        if (this.item['Arrived at (seg)'] < 0) {
                            alertify.error('Arrived time not valid');
                            return;
                        }
                        if (this.item['Work time'] < 0) {
                            alertify.error('Work time not valid');
                            return;
                        }
                        this.items.push(this.item);
                        this.item = {
                            'Process': '',
                            'Arrived at (seg)': '',
                            'Work time': '',
                        };
                    },
                    compare: function(a,b) {
                        if (a['Arrived at (seg)'] < b['Arrived at (seg)']) {
                            return -1;
                        }
                        if (a['Arrived at (seg)'] > b['Arrived at (seg)']) {
                            return 1;
                        }
                        return 0;
                    },
                    runProcess: function(item, last, color) {                    
                        const workTime = +item['Work time'];
                        const arrived = +item['Arrived at (seg)'];
                        const lastWorked = +last['Work time'];

                        const max = workTime + arrived;
                        for (var i = 0; i < app.offsetWaiting + arrived; i++) {
                            app.data.push(NaN);
                        }
                        for (var j = arrived; j <= max; j++) {
                            app.data.push(+item["Process"]);
                        }
                        console.log("Process: " + JSON.stringify(item) + " - Data: " + app.data);
                        app.dataSets.push({
                            label: 'P' + item['Process'] + " (Running)",
                            borderColor: color,
                            data: app.data,
                            steppedLine: true,
                        });
                        app.data = [];
                    },
                    waitingProcess: function(item, last, color) {
                        const workTime = last['Work time'];
                        const arrived = +item['Arrived at (seg)'];
                        const lastArrived = +last['Arrived at (seg)'];

                        const max = workTime - arrived + lastArrived;
                        app.offsetWaiting += max;
                        for (var i = 0; i < arrived; i++) {
                            app.data.push(NaN);
                        }
                        for (var j = 0; j <= app.offsetWaiting; j++) {
                            app.data.push(+item["Process"]);
                        }
                        console.log("Waiting: " + item['Process'] + " - Data: " + app.data + " - Last: " + JSON.stringify(last) + " - Max: " + max + " - app.offsetWaiting:" + app.offsetWaiting);
                        app.dataSets.push({
                            label: 'P' + item['Process'] + " (Waiting)",
                            borderColor: color,
                            data: app.data,
                            steppedLine: true,
                            borderDash: [10, 10],
                            lineDashType: "dot",
                        });
                        app.data = [];
                    },
                    calculateLabels: function() {
                        const result = [];
                        let acum = 0;
                        this.items.forEach(function(item) {
                            acum += +item['Work time'];
                        });
                        for (var i = 0; i <= acum; i++) {
                            result.push(i);
                        }
                        return result;
                    },
                    chart: function() {
                        //Sort by arrived time
                        this.items.sort(this.compare);

                        app.dataSets        = [];
                        app.data            = [];
                        app.offsetWaiting   = 0;
                        app.offsetNaN       = 0;

                        //Make the dataSet
                        let last = undefined;
                        const colors = ['green', 'red', 'blue','darkviolet','darkyellow', 'black', 'slategray', 'brown', 'orange', 'darkcyan','darkblue', 'teal','salmon','indianred','darkslategray','fuchsia'];
                        let colorIndex = Math.floor(Math.random() * colors.length);

                        this.items.forEach(function (item, index) {
                            //Process
                            const color = colors[colorIndex];
                            if (last === undefined) {
                                last = item;
                            }
                            else {
                                app.waitingProcess(item, last, color);

                                last = item;
                            }
                            app.runProcess(item, last, color);
                            app.data = [];
                            colorIndex++;
                            if (colorIndex === colors.length) {
                                colorIndex = 0;
                            }
                        });

                        const labels = app.calculateLabels();

                        var ctx = document.getElementById('myChart').getContext('2d');
                        var chart = new Chart(ctx, {
                            // The type of chart we want to create
                            type: 'line',

                            // The data for our dataset
                            data: {
                                labels: labels,
                                datasets: this.dataSets,
                            }
                        });
                    }
                }
            });
        </script>
    </body>

</html>
